<ion-view>
  <ion-nav-title>
    <img src="img/instagram.png" alt="logo" class="img-logo">
  </ion-nav-title>
  <ion-content>
    <ion-list class="photo" ng-repeat="post in posts">
      <ion-item class="item item-button-right item-avatar">
        <img ng-src="{{ post.user.avatar }}" alt="avatar">
        <h2>{{ post.user.username }}</h2>
        <button class="button button-dark button-clear" ng-click="showOptions( post )">
          <i class="icon ion-more"></i>
        </button>
      </ion-item>
      <ion-item class="item-image">
        <img ng-src="{{ post.photo }}" alt="">
      </ion-item>
      <ion-item class="buttons">
        <button ng-click="likePhoto( post )" 
        ng-class="{
          'button-dark ion-ios-heart-outline': !post.like,
          'button-assertive ion-ios-heart': post.like
        }"
        class="button button-clear icon"></button>
        <button ng-click="goToComments( post )" class="button button-dark button-clear icon ion-ios-chatboxes-outline"></button>
        <button class="button button-dark button-clear icon ion-ios-redo-outline"></button>
      </ion-item>
      <ion-item>
        <p><i class="icon ion-heart"></i> 13 likes</p>
        <p><strong>{{ post.user.username }}</strong> {{ post.text }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>