<ion-tabs>
    <ion-tab icon="ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-ios-search" href="#/tab/search"></ion-tab>
    <ion-nav-view name="tab-search"></ion-nav-view>
    <ion-tab icon="ion-camera" href="#/camera">
    <ion-nav-view name="tab-camera"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-heart" href="#/tab/activity">
        <ion-nav-view name="tab-activity"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-person" href="#/tab/profile">
        <ion-nav-view name="tab-profile"></ion-nav-view>
    </ion-tab>
</ion-tabs>